.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #0B3954;
    color: #ffffff;
    border-bottom: 4px solid #C1292E;
}

.title {
    font-family: "Orbitron", sans-serif;
    font-size: larger;
}

.title-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }