<h1>Profile</h1>
<h2><b>Username: </b>{{ currentUser.username }}</h2>
<h2><b>Email: </b>{{ currentUser.email }}</h2>

<!-- <div *ngIf="toolList.length > 0">
  <div *ngFor="let tool of toolList">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ tool.name }}</mat-card-title>
        <mat-card-subtitle>{{ tool.catagory }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img [src]="tool.itemImg" alt="{{ tool.name }} image">
    </mat-card-content>
    
      <mat-card-actions>
          <button *ngIf="isAuthenticated" [routerLink]='["/edit/", tool.itemId]' mat-icon-button matTooltip="Edit Post">
              <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="isAuthenticated" (click)="onDelete(tool.itemId!)" mat-icon-button matTooltip="Remove Item">
              <mat-icon>delete</mat-icon>
          </button>
          <button *ngIf="isAuthenticated" [routerLink]='["/checkout/", tool.itemId]' mat-icon-button matTooltip="Checkout">
              <mat-icon>add_circle</mat-icon>
          </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->