.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px 0;
  
}

.profile-header {
  width: 250px;
  height: 165px;
  background-color: rgba(93, 169, 233, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid #555B6E;
  text-align: center;
}

mat-card {
    width: 100%;
    margin: 0;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle, #F4EBD9 1%, #5DA9E9 300%);
}

mat-card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.centered {
    justify-content: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

  .container {
    display: flex;
    justify-content: center;
}