<h4>All Tools</h4>

<div *ngIf="inventory">
    <div *ngFor="let item of inventory">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ item.name }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    {{ item.catagory }}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button *ngIf="isAuthenticated" [routerLink]='["/edit/", item.itemId]' mat-icon-button matTooltip="Edit Post">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="isAuthenticated" (click)="onDelete(item.itemId!)" mat-icon-button matTooltip="Remove Item">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="isAuthenticated" [routerLink]='["/checkout/", item.itemId]' mat-icon-button matTooltip="Checkout">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>