<div class="parent-container">
    <div class="header">
      <h1>Current Inventory</h1>
    </div>
  </div>

<div *ngIf="inventory" class="grid">
    <div *ngFor="let item of inventory" class="container">
        <mat-card>
            <mat-card-header class="centered">
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-subtitle>{{ item.catagory }}</mat-card-subtitle>
                <mat-card-subtitle>Available: {{ item.available ? 'Yes' : 'No' }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <img [src]="item.itemImg" alt="{{ item.name }} image">
            </mat-card-content>

            <mat-card-actions>
                <button *ngIf="isAuthenticated" [routerLink]='["/edit/", item.itemId]' mat-icon-button
                    matTooltip="Edit Post">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="isAuthenticated" (click)="onDelete(item.itemId!)" mat-icon-button
                    matTooltip="Remove Item">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="isAuthenticated" (click)="toggleAvailability(item.itemId)" mat-icon-button
                    matTooltip="Checkout">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
